<div class="site-wrapper" ng-controller="profileSkillsModalCtrl as profile">
  <div class="site-wrapper-inner">
    <div class="cover-container">
      <div class="inner cover">
        <h1 class="cover-heading">USER PROFILE</h1>
        <hr>
        <hr>
        <hr>
        <h5>User Name: {{profile.userInfo.username}}</h5>
        <h5>User Email: {{profile.userInfo.email}}</h5>
        <h5>User Password: {{profile.userInfo.password}}</h5>
         <hr>
        <hr>
        <hr>
        
        <a href="#" class="btn btn-lg btn-secondary" ng-click="">Set Skills</a>
        </p>
      </div>
    </div>
  </div>
</div>