<div class="masthead clearfix">
  <div class="inner">
    <a href=""><h3 class="masthead-brand" ng-controller="profileCtrl as profile" ng-click="profile.go('welcome')">Helper</h3></a>
    <nav class="nav nav-masthead">
      <a class="nav-link" href="#" ng-controller="profileCtrl as profile" ng-click="profile.go('welcome')">Home</a>
      <a class="nav-link" href="#">Features</a>
      <a class="nav-link" ui-sref="/profile" ng-controller="profileCtrl as profile" ng-show="profile.showProfile">Profile</a>
      <a class="nav-link" ui-sref="/login" ng-controller="profileCtrl as profile" ng-show="profile.showSignIn">Sign In</a>
      <a class="nav-link" ui-sref="/register" ng-controller="profileCtrl as profile" ng-show="profile.showRegister">Register</a>
      <a class="nav-link" href="#" ng-controller="profileCtrl as profile" ng-click="profile.logout()" ng-show="profile.showLogout">Logout</a>
    </nav>
  </div>
</div>
